# ------------------------------------------------------
# bbLeanbar 1.17 - configuration

# Lines starting with # or ! are ignored

# ---------------------
# The items on the bar:
# This builds a toolbar with tasks and tray. You can
# change the order of items or uncomment some of the
# currently disabled (!) items)

!bbleanbar.item: Tasks
!bbleanbar.item: WorkspaceButtonL
!bbleanbar.item: CurrentOnlyButton
!bbleanbar.item: WorkspaceButtonR
!bbleanbar.item: WindowButtonL
!bbleanbar.item: WindowButtonR
!bbleanbar.item: WindowButtonL
!bbleanbar.item: TaskStyleButton
bbleanbar.item: Clock

!bbleanbar.item: WindowLabel
!bbleanbar.item: NewLine
!bbleanbar.item: Space

# ----------------
# General Settings (ctrl-right-click menu)
bbLeanBar.placement: User
bbLeanBar.position.x: 2589
bbLeanBar.position.y: 112
bbLeanBar.widthPercent: 3
bbLeanBar.useSlit: false
bbLeanBar.AutoHide: false
bbleanbar.OnTop: true
bbleanbar.autoRaise: true
bbleanbar.snapToEdge: true
bbLeanBar.pluginToggle: true

bbLeanBar.alpha.enabled: false
bbLeanBar.alpha.value: 205

# ---------
# Task Tabs
bbLeanBar.tasks.style: 0
bbLeanBar.tasks.maxWidth: 100
bbLeanBar.tasks.reverse: false
bbLeanBar.tasks.current: true
bbLeanBar.tasks.sysmenu: true
bbLeanBar.tasks.drawBorder: true

------------
# Icons
bbLeanBar.smallIcons: false
bbLeanBar.icon.saturation: 0
bbLeanBar.icon.hue: 168

# ------------
# Clock-Format
bbLeanBar.strftimeFormat: %#H:%M

# ---------------
# Special Options
bbLeanBar.autoFullscreenHide: true
bbLeanBar.setDesktopMargin: true
bbLeanBar.sendToSwitchTo: true
bbLeanBar.sendToGesture: true

# -------------------------
# hidden icons (auto saved)
bbLeanBar.tray.hidden.count: 24
bbLeanBar.tray.hidden.1: "SystemTray_Main",1226
bbLeanBar.tray.hidden.2: "ATL:000007FEFB0741F0",100
bbLeanBar.tray.hidden.3: "STARTKILLER",0
bbLeanBar.tray.hidden.4: "ATL:000007FEF88752C0",49299
bbLeanBar.tray.hidden.5: "AltDrag",0
bbLeanBar.tray.hidden.6: "wxWindowClassNR",99
bbLeanBar.tray.hidden.7: "TPUtilWindow",8397568
bbLeanBar.tray.hidden.8: "AutoHotkey",1028
bbLeanBar.tray.hidden.9: "{A63A8632-01B1-42f7-8F3A-546EDDB8B354}",0
bbLeanBar.tray.hidden.10: "AutoHotkey",1028
bbLeanBar.tray.hidden.11: "MiniServerTrayIconDummyWnd",13
bbLeanBar.tray.hidden.12: "RainmeterTrayClass",101
bbLeanBar.tray.hidden.13: "WindowsForms10.Window.0.app.0.33c0d9d",1
bbLeanBar.tray.hidden.14: "TPUtilWindow",66092
bbLeanBar.tray.hidden.15: "QWidget",0
bbLeanBar.tray.hidden.16: "CORETEMP",0
bbLeanBar.tray.hidden.17: "DropboxTrayIcon",0
bbLeanBar.tray.hidden.18: "Afx:400000:20:10005:0:0",197466
bbLeanBar.tray.hidden.19: "WindowsUpdateNotificationWindow",0
bbLeanBar.tray.hidden.20: "WorkerW",123
bbLeanBar.tray.hidden.21: "{E7076D1C-A7BF-4f39-B771-BCBE88F2A2A8}",1
bbLeanBar.tray.hidden.22: "AAMUPDATESNOTIFIER",130
bbLeanBar.tray.hidden.23: "TPUtilWindowEx",1
bbLeanBar.tray.hidden.24: "USurface_91517590",1
bbLeanBar.alwaysOnTop: false
