# --------------------------------------------------
# bbIconBox.rc

bbIconBox.id.count: 4
bbIconBox.id.1: Quick Launch
bbIconBox.id.2: task1
bbIconBox.id.3: task2
bbIconBox.id.4: task3
bbIconBox.id.5: Desktop

bbIconBox.Desktop.placement: Right
bbIconBox.Desktop.position.x: 1009
bbIconBox.Desktop.position.y: 90
bbIconBox.Desktop.useSlit: false
bbIconBox.Desktop.alwaysOnTop: false
bbIconBox.Desktop.AutoHide: false
bbIconBox.Desktop.clickRaise: true
bbIconBox.Desktop.snapWindow: true
bbIconBox.Desktop.pluginToggle: true
bbIconBox.Desktop.alpha.enabled: false
bbIconBox.Desktop.alpha.value: 192
bbIconBox.Desktop.orientation: horizontal
bbIconBox.Desktop.path: DESKTOP
bbIconBox.Desktop.title: Desktop
bbIconBox.Desktop.rows: 3
bbIconBox.Desktop.columns: 4
bbIconBox.Desktop.icon.size: 16
bbIconBox.Desktop.icon.saturation: 80
bbIconBox.Desktop.icon.hue: 60
bbIconBox.Desktop.drawTitle: false
bbIconBox.Desktop.drawBorder: true
bbIconBox.Desktop.toolTips: true

bbIconBox.Quick+Launch.placement: User
bbIconBox.Quick+Launch.position.x: 20
bbIconBox.Quick+Launch.position.y: 20
bbIconBox.Quick+Launch.useSlit: true
bbIconBox.Quick+Launch.alwaysOnTop: false
bbIconBox.Quick+Launch.autoHide: false
bbIconBox.Quick+Launch.clickRaise: true
bbIconBox.Quick+Launch.snapWindow: true
bbIconBox.Quick+Launch.pluginToggle: true
bbIconBox.Quick+Launch.alpha.enabled: false
bbIconBox.Quick+Launch.alpha.value: 192
bbIconBox.Quick+Launch.orientation: vertical
bbIconBox.Quick+Launch.path: APPDATA\Microsoft\Internet Explorer\Quick Launch
bbIconBox.Quick+Launch.title: Quick
bbIconBox.Quick+Launch.rows: 4
bbIconBox.Quick+Launch.columns: 2
bbIconBox.Quick+Launch.icon.size: 16
bbIconBox.Quick+Launch.icon.saturation: 80
bbIconBox.Quick+Launch.icon.hue: 0
bbIconBox.Quick+Launch.drawTitle: true
bbIconBox.Quick+Launch.drawBorder: true
bbIconBox.Quick+Launch.toolTips: true

bbIconBox.task1.placement: User
bbIconBox.task1.position.x: 765
bbIconBox.task1.position.y: 167
bbIconBox.task1.useSlit: true
bbIconBox.task1.alwaysOnTop: false
bbIconBox.task1.autoHide: false
bbIconBox.task1.clickRaise: true
bbIconBox.task1.snapWindow: true
bbIconBox.task1.pluginToggle: true
bbIconBox.task1.alpha.enabled: false
bbIconBox.task1.alpha.value: 192
bbIconBox.task1.orientation: vertical
bbIconBox.task1.path: TASK1
bbIconBox.task1.title: A
bbIconBox.task1.rows: 4
bbIconBox.task1.columns: 2
bbIconBox.task1.icon.size: 16
bbIconBox.task1.icon.saturation: 80
bbIconBox.task1.icon.hue: 0
bbIconBox.task1.drawTitle: true
bbIconBox.task1.drawBorder: true
bbIconBox.task1.toolTips: true

bbIconBox.task2.placement: User
bbIconBox.task2.position.x: 765
bbIconBox.task2.position.y: 193
bbIconBox.task2.useSlit: true
bbIconBox.task2.alwaysOnTop: false
bbIconBox.task2.autoHide: false
bbIconBox.task2.clickRaise: true
bbIconBox.task2.snapWindow: true
bbIconBox.task2.pluginToggle: true
bbIconBox.task2.alpha.enabled: false
bbIconBox.task2.alpha.value: 192
bbIconBox.task2.orientation: vertical
bbIconBox.task2.path: TASK2
bbIconBox.task2.title: B
bbIconBox.task2.rows: 4
bbIconBox.task2.columns: 2
bbIconBox.task2.icon.size: 16
bbIconBox.task2.icon.saturation: 80
bbIconBox.task2.icon.hue: 0
bbIconBox.task2.drawTitle: true
bbIconBox.task2.drawBorder: true
bbIconBox.task2.toolTips: true

bbIconBox.task3.placement: User
bbIconBox.task3.position.x: 735
bbIconBox.task3.position.y: 128
bbIconBox.task3.useSlit: true
bbIconBox.task3.alwaysOnTop: false
bbIconBox.task3.autoHide: false
bbIconBox.task3.clickRaise: true
bbIconBox.task3.snapWindow: true
bbIconBox.task3.pluginToggle: true
bbIconBox.task3.alpha.enabled: false
bbIconBox.task3.alpha.value: 192
bbIconBox.task3.orientation: vertical
bbIconBox.task3.path: TASK3
bbIconBox.task3.title: C
bbIconBox.task3.rows: 4
bbIconBox.task3.columns: 2
bbIconBox.task3.icon.size: 16
bbIconBox.task3.icon.saturation: 80
bbIconBox.task3.icon.hue: 0
bbIconBox.task3.drawTitle: true
bbIconBox.task3.drawBorder: true
bbIconBox.task3.toolTips: true
